<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
      font-family: sans-serif;
    }
    ul {
      list-style-type: none;
      padding: 0 1em;
    }
    li {
      text-indent: -2.5em;
      padding-left: 2.5em;
      margin-bottom: 0.2em;
    }
    a {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    a.disabled {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
    }
    .ws-endpoint {
      display: inline-block;
      background-color:#29517C ;
      color: white;
      font-size: 0.75em;
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: 6px;
      vertical-align: middle;
    }
    .msg { color: green; }
    .msg.error { color: red; }
    </style>
  </head>
  <body>

    {% macro help(text, id) -%}
      <span class="msg" id="{{id}}"></span>
      <br>{{ text|safe }}
      ⇒ <a href="https://github.com/nfdi4objects/n4o-graph-importer#{{id}}" target="_blank">documentation</a>
    {%- endmacro -%}
    {% macro input_id(class) -%}
      <input type="number" min="0" step="1" size="6" placeholder=":id" class="{{class}}"/>
    {%- endmacro -%}

    <h1>{{ title }}</h1>  
    <p>
      Controlled <b>write access</b> to Triple store at <a href="{{ sparql }}">{{ sparql }}</a>.
      Please use SPARQL endpoint or N4O Graph APIs for read access.
      At this level there is <b>no authentication</b>!
    </p>
    <h2>Terminology Endpoints</h2>
    <ul>
      <li>
        <b>GET <a href="/terminology/">/terminology/</a></b>
        {{ help("Return the list of registered terminology metadata", "get-terminology") }}
      </li>
      <li>
        <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter)">/terminology/</a>{{ input_id("ter") }}</b>
        {{ help("Return metadata of a registered terminology","get-terminologyid") }}
      </li>
      <li>
        <b>PUT <a onclick="registerTerminology(this)">/terminology/</a>{{ input_id("ter") }}</b>
        {{ help('Register a terminology or update its metadata from <a href="https://bartoc.org/">BARTOC</a>',"put-terminologyid") }}
      </li>
      <li>
        <b>DELETE <a onclick="deleteTerminology(this)">/terminology/</a>{{ input_id("ter") }}</b>
        {{ help("Unregister a terminology and remove it from stage area and triple store","delete-terminologyid") }}
      </li>
      <li>
        <b>PUT <a onclick="replaceTerminologies(this)">/terminology/</a></b>
        <input type="file" name="file" id="put-terminology-file">
        {{ help("Initially register a list of terminologies","put-terminology") }}
      </li>
      <li>
        <b>POST <a onclick="receiveTerminology(this)">/terminology/</a>{{ input_id("ter") }}/receive</b>
        ? from=<input type="text" placeholder="URL or file" id="receiveTerminology" />
        {{ help("Receive terminology data","post-terminologyidreceive") }}
      </li>
      <li>
        <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter+'/receive')">/terminology/</a>{{ input_id("ter") }}/receive</b>
        {{ help("Get latest receive log of a terminology","get-terminologyidreceive") }}
      </li>
      <li>
        <b>POST <a onclick="loadTerminology(this)">/terminology/</a>{{ input_id("ter") }}/load</b>
        {{ help("Load terminology data into the triple store","post-terminologyidload") }}
      </li>
      <li>
        <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter+'/load')">/terminology/</a>{{ input_id("ter") }}/load</b>
        {{ help("Get latest load log of a terminology","get-terminologyidload") }}
      </li>
      <li>
        <b>POST <a onclick="removeTerminology(this)">/terminology/</a>{{ input_id("col") }}/remove</b>
        {{ help("Remove terminology data from the triple store","post-terminologyidremove") }}
      </li>
      <li>
        <b>GET <a href="/terminology/namespaces.json">/terminology/namespaces.json</a></b>
        {{ help("Return the list of registered URI namespaces forbidden to be used in RDF subjects","get-terminologynamespacesjson") }}
      </li>
    </ul>
    <h2>Collection endpoints</h2>
    <ul>
      <li>
        <b>GET <a href="/collection/">/collection/</a></b>
        {{ help("Return the list of registered collections","get-collection") }}
      </li>
      <li>
        <b>GET <a href="/collection/schema.json">/collection/schema.json</a></b>
        {{ help("Return the JSON Schema used to validation collection metadata","get-collectionschemajson") }}
      </li>
      <li>
        <b>PUT <a onclick="replaceCollections(this)">/collection/</a></b>
        <input type="file" name="file" id="put-collection-file">
        {{ help("Initially register a list of collections","put-collection") }}
      </li>
      <li>
        <b>POST <a onclick="registerCollection(this)">/collection/</a></b>
        <input type="file" name="file" id="post-collection-file">
        {{ help("Register a new collection or update metadata of a registered collection","post-collection") }}
      </li>
      <li>
        <b>GET <a onclick="visit(this,'/collection/'+idValue.col)">/collection/</a>{{ input_id("col") }}</b>
        {{ help("Return metadata of a specific registered collection","get-collectionid") }}
      </li>
      <li>
        <b>PUT <a onclick="updateCollection(this)">/collection/</a>{{ input_id("col") }}</b>
        <input type="file" name="file" id="put-collectionid-file">
        {{ help("Update metadata of a specific registered collection or register a new collection","put-collectionid") }}
      </li>
      <li>
        <b>DELETE <a onclick="deleteCollection(this)">/collection/</a>{{ input_id("col") }}</b>
        {{ help("Unregister a collection and remove it from the triple store and staging area","delete-collectionid") }}
      </li>
      <li>
        <b>POST <a onclick="receiveCollection(this)">/collection/</a>{{ input_id("col") }}/receive</b>
        ? from=<input type="text" placeholder="file" id="receiveCollection" />
        {{ help("Receive and process collection data","post-collectionidreceive") }}
      </li>
      <li>
        <b>GET <a onclick="visit(this,'/collection/'+idValue.col+'/receive')">/collection/</a>{{ input_id("col") }}/receive</b>
        {{ help("Get latest receive log of a collection","get-collectionidreceive") }}
      </li>
      <li>
        <b>POST <a onclick="loadCollection(this)">/collection/</a>{{ input_id("col") }}/load</b>
        {{ help("Load received and processed collection data into the triple store","post-collectionidload") }}
      </li>
      <li>
        <b>GET <a onclick="visit(this,'/collection/'+idValue.col+'/load')">/collection/</a>{{ input_id("col") }}/load</b>
        {{ help("Get latest load log of a collection","get-collectionidload") }}
      </li>
      <li>
        <b>POST <a onclick="removeCollection(this)">/collection/</a>{{ input_id("col") }}/remove</b>
        {{ help("Remove collection data from the triple store","post-collectionidremove") }}
      </li>
    </ul>
  </body>
</html>
<script type="text/javascript">
const idValue = { ter: "", col: "" }

const updateId = (cls, value) => {
  idValue[cls] = value
  for (let e of document.getElementsByClassName(cls)) {
    e.parentNode.getElementsByTagName("a")[0].className = value ? "enabled" : "disabled"
    e.value = value
  }
}

const updateMessage = (id, error) => {
  for (let e of document.getElementsByClassName("msg")) {
    if (error && e.id == id) {
      e.classList.add("error")
    } else {
      e.classList.remove("error")
    }
    e.textContent = e.id == id ? error || "OK" : ""
  }
}

const visit = (e, url) => {
  if (e?.className == "disabled") return true
  // TODO: prefetch URL and shown error on failure
  window.location.href = url 
}

const request = async (e, url, method) => {
  if (e?.className == "disabled") return true

  const id = method.toLowerCase() + "-" + url.replaceAll(/\?.*|[^a-z]/g,"")
  url = url.replace(":id", idValue[url.slice(0,3)])
  const options = { method }

  const submit = async () => {
    console.log({ url, options })
    const res = await fetch(url, options).catch(e => ({ statusText: `${e}` }))
    if (res.ok) {
      updateMessage(id)
    } else {      
      var error = res.statusText || "ERROR"
      try { error = (await res.json()).error } catch {}
      updateMessage(id, error)
    }  
  }

  const upload = document.getElementById(`${id}-file`)
  if (upload) {
    const file = upload.files[0]
    if (file) {
      const reader = new FileReader()
      reader.onload = async e => {
        try {
          options.headers = { 'Content-Type': 'application/json' }
          options.body = JSON.stringify(JSON.parse(e.target.result))
          await submit()
        } catch (error) {
          updateMessage(id, `Invalid JSON ${error.message}`)
        }
      }
      reader.readAsText(file)
    } else {
      updateMessage(id, "Please select a file!")
      return
    }
  } else {
    await submit()
  }
}

const getValue = id => document.getElementById(id).value

const registerTerminology  = e => request(e,`terminology/:id`, "PUT")
const replaceTerminologies = e => request(e,`terminology/`, "PUT")
const deleteTerminology    = e => request(e,`terminology/:id`, "DELETE")
const receiveTerminology   = e => request(e,`terminology/:id/receive?from=${getValue('receiveTerminology')}`, "POST")
const loadTerminology      = e => request(e,`terminology/:id/load`, "POST")
const removeTerminology    = e => request(e,`terminology/:id/remove`, "POST")

const registerCollection   = e => request(e,`collection/`, "POST")
const replaceCollections   = e => request(e,`collection/`, "PUT")
const updateCollection     = e => request(e,`collection/:id`, "PUT")
const deleteCollection     = e => request(e,`collection/:id`, "DELETE")
const receiveCollection    = e => request(e,`collection/:id/receive?from=${getValue('receiveCollection')}`, "POST", "receiveCollection")
const loadCollection       = e => request(e,`collection/:id/load`, "POST")
const removeCollection     = e => request(e,`collection/:id/remove`, "POST")

window.onload = () => {
  for (let cls of ["ter","col"]) {
    const nodes = document.getElementsByClassName(cls)
    for (let elem of nodes) {
      elem.addEventListener("input", ({target: {value}}) => {        
        updateId(cls, value)
        return true
      })
    }
    updateId(cls, nodes[0].value)
  } 
}</script>
