<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
      font-family: sans-serif;
    }
    ul {
      list-style-type: none;
      padding: 0 1em;
    }
    li {
      text-indent: -2.5em;
      padding-left: 2.5em;
      margin-bottom: 0.2em;
    }
    a:link, a:visited {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    .ws-endpoint {
      display: inline-block;
      background-color:#29517C ;
      color: white;
      font-size: 0.75em;
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: 6px;
      vertical-align: middle;
    }
    .msg { color: green; }
    .msg.error { color: red; }
    </style>
  </head>
  <body>

    {% macro help(text, id) -%}
      <br>{{ text }}
      ⇒ <a href="https://github.com/nfdi4objects/n4o-graph-importer#{{id}}" target="_blank">documentation</a>
    {%- endmacro -%}
    {% macro input_id(class) -%}
      <input type="number" min="0" step="1" size="6" placeholder=":id" class="{{class}}"/>
    {%- endmacro -%}

    <h1>{{ title }}</h1>  
    <p>
      Controlled <b>write access</b> to Triple store at <a href="{{ sparql }}">{{ sparql }}</a>.
      Please use SPARQL endpoint or N4O Graph APIs for read access.
      At this level there is <b>no authentication</b>!
    </p>
    <h2>Terminology Endpoints</h2>
    <ul>
      <li>
        <b>GET <a href="/terminology/">/terminology/</a></b>
        {{ help("Return the list of registered terminology metadata", "get-terminology") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/terminology/'+idValue.trm)">/terminology/</a>{{ input_id("trm") }}</b>
        {{ help("Return metadata of a registered terminology","get-terminologyid") }}
      </li>
      <li>
        <b>PUT <a href="javascript:;" onclick="registerTerminology()">/terminology/</a>{{ input_id("trm") }}</b>
        <span class="msg" id="registerTerminology"></span>
        {{ help("Register a terminology or update its metadata from BARTOC","put-terminologyid") }}
      </li>
      <li>
        <b>DELETE <a href="javascript:;" onclick="deleteTerminology()">/terminology/</a>{{ input_id("trm") }}</b>
        <span class="msg" id="deleteTerminology"></span>
        {{ help("Unregister a terminology and remove it from stage area and triple store","delete-terminologyid") }}
      </li>
      <li>
        <b>PUT <a href="javascript:;" onclick="replaceTerminologies()">/terminology/</a></b>
        ? from=<input type="text" placeholder="URL or file" id="allTerminologiesFrom" />
        <!-- TODO: file upload -->
        <span class="msg" id="replaceTerminologies"></span>
        {{ help("Initially register a list of terminologies.","put-terminology") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="receiveTerminology()">/terminology/</a>{{ input_id("trm") }}/receive</b>
        ? from=<input type="text" placeholder="URL or file" id="terminologyFrom" />
        <span class="msg" id="receiveTerminology"></span>
        {{ help("Receive terminology data","post-terminologyidreceive") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/terminology/'+idValue.trm+'/receive')">/terminology/</a>{{ input_id("trm") }}/receive</b>
        {{ help("Get latest receive log of a terminology","get-terminologyidreceive") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="loadTerminology()">/terminology/</a>{{ input_id("trm") }}/load</b>
        <span class="msg" id="loadTerminology"></span>
        {{ help("Import terminology data into the triple store","post-terminologyidload") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/terminology/'+idValue.trm+'/load')">/terminology/</a>{{ input_id("trm") }}/load</b>
        {{ help("Get latest load log of a terminology","get-terminologyidload") }}
      </li>
      <li>
        <b>GET <a href="/terminology/namespaces.json">/terminology/namespaces.json</a></b>
        {{ help("Return the list of registered URI namespaces forbidden to be used in RDF subjects","get-terminologynamespacesjson") }}
      </li>
    </ul>
    <h2>Collection endpoints</h2>
    <ul>
      <li>
        <b>GET <a href="/collection/">/collection/</a></b>
        {{ help("Return the list of registered collections","get-collection") }}
      </li>
      <li>
        <b>GET <a href="/collection/schema.json">/collection/schema.json</a></b>
        {{ help("Return the JSON Schema used to validation collection metadata","get-collectionschemajson") }}
      </li>
      <li>
        <b>PUT <a href="javascript:;" onclick="replaceCollections()">/collection/</a></b>
        ? from=<input type="text" placeholder="URL or file" id="allCollectionsFrom" />
        <!-- TODO: file upload -->
        <span class="msg" id="replaceCollections"></span>
        {{ help("Update list of registered collections","put-collection") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="registerCollection()">/collection/</a></b>
        ? from=<input type="text" placeholder="URL or file" id="registerCollectionFrom" />
        <!-- TODO: file upload -->
        <span class="msg" id="registerCollection"></span>
        {{ help("Register a new collection or update metadata of a registered collection","post-collection") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/collection/'+idValue.col)">/collection/</a>{{ input_id("col") }}</b>
        {{ help("Return metadata of a specific registered collection","get-collectionid") }}
      </li>
      <li>
        <b>PUT <a href="javascript:;" onclick="updateCollection()">/collection/</a>{{ input_id("col") }}</b>
        ? from=<input type="text" placeholder="URL or file" id="updateCollectionFrom" />
        <!-- TODO: file upload -->
        <span class="msg" id="upddateCollection"></span>
        {{ help("Update metadata of a specific registered collection or register a new collection","put-collectionid") }}
      </li>
      <li>
        <b>DELETE <a href="javascript:;" onclick="deleteCollection()">/collection/</a>{{ input_id("col") }}</b>
        <span class="msg" id="deleteCollection"></span>
        {{ help("Unregister a collection and remove it from the triple store and staging area","delete-collectionid") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="receiveCollection()">/collection/</a>{{ input_id("col") }}/receive</b>
        <span class="msg" id="receiveCollection"></span>
        {{ help("Receive and process collection data","post-collectionidreceive") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/collection/'+idValue.col+'/receive')">/collection/</a>{{ input_id("col") }}/receive</b>
        {{ help("Get latest receive log of a collection","get-collectionidreceive") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="loadCollection()">/collection/</a>{{ input_id("col") }}/load</b>
        <span class="msg" id="loadCollection"></span>
        {{ help("Load received and processed collection data into the triple store","post-collectionidload") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/collection/'+idValue.col+'/load')">/collection/</a>{{ input_id("col") }}/load</b>
        {{ help("Get latest load log of a collection","get-collectionidload") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="removeCollection()">/collection/</a>{{ input_id("col") }}/remove</b>
        <span class="msg" id="removeCollection"></span>
        {{ help("Remove collection data and metadata from the triple store from staging area","post-collectioniddelete") }}
      </li>
    </ul>
  </body>
</html>
<script type="text/javascript">
const idValue = { trm: "", col: "" }

const visit = url => window.location.href = url

const getValue = id => document.getElementById(id).value

const request = async (url, method, msg) => {
  msg = document.getElementById(msg)

  for (let e of document.getElementsByClassName("msg")) {
    e.textContent = ""
    e.classList.remove("error")
  }

  // TODO: Support file upload
  const options = { method }
  /*if (method == "POST" || method == "PUT") {
    options.headers = { 'Content-Type': 'application/json' }
    options.body = "{}" /// TODO
  }*/

  const res = await fetch(url, options).catch(e => ({ statusText: ""+e }))
  if (res.ok) {
    msg.textContent = "OK"
  } else {
    var error = res.statusText
    try { error = (await res.json()).error } catch {}
    msg.classList.add("error")
    msg.textContent = error
  }  
}

const registerTerminology  = () => request(`./terminology/${idValue.trm}`, "PUT", "registerTerminology")
const replaceTerminologies = () => request(`./terminology/${idValue.trm}?from=${getValue('allTerminologiesFrom')}`, "PUT", "replaceTerminologies")
const deleteTerminology    = () => request(`./terminology/${idValue.trm}`, "DELETE", "deleteTerminology")
const receiveTerminology   = () => request(`./terminology/${idValue.trm}/receive?from=${getValue('receiveTerminology')}`, "POST", "receiveTerminology")
const loadTerminology      = () => request(`./terminology/${idValue.trm}/load`, "POST", "loadTerminology")

const registerCollection   = () => request(`./collection/${idValue.col}?from=${getValue('registerCollectionFrom')}`, "POST", "registerCollection")
const replaceCollections   = () => request(`./collection/${idValue.col}?from=${getValue('allCollectionsFrom')}`, "PUT", "replaceCollections")
const updateCollection     = () => request(`./collection/${idValue.col}?from=${getValue('updateCollectionsFrom')}`, "PUT", "updateCollections")
const deleteCollection     = () => request(`./terminology/${idValue.col}`, "DELETE", "deleteCollection")
const receiveCollection    = () => request(`./collection/${idValue.col}/receive?from=${getValue('receiveCollection')}`, "POST", "receiveCollection")
const loadCollection       = () => request(`./collection/${idValue.col}/load`, "POST", "loadCollection")
const removeCollection     = () => request(`./collection/${idValue.col}/remove`, "POST", "removeCollection")

window.onload = () => {
  for (let cls of ["trm","col"]) {
    for (let elem of document.getElementsByClassName(cls)) {
      elem.addEventListener("input", ({target}) => {
        idValue[cls] = target.value
        for (let e of document.getElementsByClassName(cls)) e.value = target.value 
        return true
      })
    }
  }
}</script>
