<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
      font-family: sans-serif;
    }
    ul {
      list-style-type: none;
      padding: 0 1em;
    }
    li {
      text-indent: -2.5em;
      padding-left: 2.5em;
      margin-bottom: 0.2em;
    }
    a:link, a:visited {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    .ws-endpoint {
      display: inline-block;
      background-color:#29517C ;
      color: white;
      font-size: 0.75em;
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: 6px;
      vertical-align: middle;
    }
    .disabled, .disabled a:link, .disabled a:visited {      
      text-decoration: line-through;
      color: #666;
    }
    .ok { color: green; }
    .error { color: red; }
    </style>
  </head>
  <body>

    {% macro help(text, id) -%}
      <br>{{ text }}
      ⇒ <a href="https://github.com/nfdi4objects/n4o-graph-importer#{{id}}" target="_blank">documentation</a>
    {%- endmacro -%}
    {% macro input_id(id) -%}
      <input type="number" min="0" step="1" size="6" placeholder=":id" id="{{id}}"/>
    {%- endmacro -%}

    <h1>{{ title }}</h1>  
    <p>
      Controlled write access to Triple store at <a href="{{ sparql }}">{{ sparql }}</a>.
      Please use SPARQL endpoint or N4O Graph APIs for read access.
      There is <em>no authentication</em>!
    </p>
    <h2>Terminology Endpoints</h2>
    <ul>
      <li>
        <b>GET <a href="/terminology/">/terminology/</a></b>
        {{ help("Return the list of registered terminology metadata", "get-terminology") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/terminology/'+getValue('trm0'))">/terminology/</a>{{ input_id("trm0") }}</b>
        {{ help("Return metadata of a registered terminology","get-terminologyid") }}
      </li>
      <li>
        <b>PUT <a href="javascript:;" onclick="registerTerminology()">/terminology/</a>{{ input_id("trm1") }}</b>
        <span id="msg1"></span>
        {{ help("Register a terminology or update its metadata from BARTOC","put-terminologyid") }}
      </li>
      <li>
        <b>DELETE <a href="javascript:;" onclick="deleteTerminology()">/terminology/</a>{{ input_id("trm1a") }}</b>
        <span id="msg1a"></span>
        {{ help("Unregister a terminology and remove it from stage area and triple store","delete-terminologyid") }}
      </li>
      <li class="disabled">
        <b>PUT <a href="javascript:;" onclick="putTerminologies()">/terminology/</a></b>
        ? from=<input type="text" placeholder="URL or file" id="allTerminologiesFrom" />
        <!-- TODO: file upload -->
        <span id="msg1b"></span>
        {{ help("Register a list of terminologies.","put-terminology") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="receiveTerminology()">/terminology/</a>{{ input_id("trm2") }}/receive</b>
        ? from=<input type="text" placeholder="URL or file" id="terminologyFrom" />
        <span id="msg2"></span>
        {{ help("Receive terminology data","post-terminologyidreceive") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/terminology/'+getValue('trm3')+'/receive')">/terminology/</a>{{ input_id("trm3") }}/receive</b>
        {{ help("Get latest receive log of a terminology","get-terminologyidreceive") }}
      </li>
      <li>
        <b>POST <a href="javascript:;" onclick="loadTerminology()">/terminology/</a>{{ input_id("trm4") }}/load</b>
        <span id="msg3"></span>
        {{ help("Import terminology data into the triple store","post-terminologyidload") }}
      </li>
      <li>
        <b>GET <a href="javascript:;" onclick="visit('/terminology/'+getValue('trm5')+'/load')">/terminology/</a>{{ input_id("trm5") }}/load</b>
        {{ help("Get latest load log of a terminology","get-terminologyidload") }}
      </li>
      <li>
        <b>GET <a href="/terminology/namespaces.json">/terminology/namespaces.json</a></b>
        {{ help("Return the list of registered URI namespaces forbidden to be used in RDF subjects","get-terminologynamespacesjson") }}
      </li>
    </ul>
    <h2>Collection endpoints</h2>
    <ul>
      <li>
        <b>GET <a href="/collection/">/collection/</a></b>
        {{ help("Return the list of registered collections","get-collection") }}
      </li>
      <li>
        <b>GET <a href="/collection/schema.json">/collection/schema.json</a></b>
        {{ help("Return the JSON Schema used to validation collection metadata","get-collectionschemajson") }}
      </li>
      <li>
        <b>PUT /collection/</b>
        ? from=<input type="text" placeholder="URL or file" id="allCollectionsFrom" />
        <!-- TODO: file upload -->
        <span id="msg4"></span>
        {{ help("Update list of registered collections","put-collection") }}
      </li>
      <li>
        <b>POST /collection/</b>
        ? from=<input type="text" placeholder="URL or file" id="collectionFrom" />
        <span id="msg5"></span>
        {{ help("Register a new collection or update metadata of a registered collection","post-collection") }}
      </li>
      <li>
        <b>GET /collection/{{ input_id("col0") }}</b>
        {{ help("Return metadata of a specific registered collection","get-collectionid") }}
      </li>
      <li>
        <b>PUT /collection/{{ input_id("col1") }}</b>
        <span id="msg6"></span>
        {{ help("Update metadata of a specific registered collection or register a new collection","put-collectionid") }}
      </li>
      <li>
        <b>DELETE /collection/{{ input_id("col2") }}</b>
        <span id="msg7"></span>
        {{ help("Unregister a collection and remove it from the triple store and staging area","delete-collectionid") }}
      </li>
      <li>
        <b>POST /collection/{{ input_id("col3") }}/receive</b>
        <span id="msg8"></span>
        {{ help("Receive and process collection data","post-collectionidreceive") }}
      </li>
      <li class="disabled">
        <b>GET /collection/{{ input_id("col4") }}/receive</b>
        {{ help("Get latest receive log of a collection","get-collectionidreceive") }}
      </li>
      <li>
        <b>POST /collection/{{ input_id("col5") }}/load</b>
        <span id="msg9"></span>
        {{ help("Load received and processed collection data into the triple store","post-collectionidload") }}
      </li>
      <li class="disabled">
        <b>GET /collection/{{ input_id("col6") }}/load</b>
        {{ help("Get latest load log of a collection","get-collectionidload") }}
      </li>
      <li>
        <b>POST /collection/{{ input_id("col7") }}:id/remove</b>
        <span id="msg10"></span>
        {{ help("Remove collection data and metadata from the triple store from staging area","post-collectioniddelete") }}
      </li>
      <li class="disabled">
        <b>GET /collection/{{ input_id("col8") }}/remove</b>
        {{ help("Get latest remove log of a collection","get-collectionidremove") }}
      </li>
    </ul>
    </ul>
  </body>
</html>
<script type="text/javascript">
const $ = id => document.getElementById(id)
const getValue = id => $(id).value || ""
const visit = url => window.location.href = url

var trmId, colId

const request = async (url, method, msg) => {
  for (let m of [1,'1a','1b',2,3,4,5,6,7,8,9].map(i => $("msg"+i))) {
    m.textContent = ""
    m.className = ""
  }
  msg = $(msg)

  const options = { method }
  /*if (method == "POST" || method == "PUT") {
    options.headers = { 'Content-Type': 'application/json' }
    options.body = "{}" /// TODO
  }*/

  const res = await fetch(url, options).catch(e => ({ statusText: ""+e }))
  if (res.ok) {
    msg.className = "ok"
    msg.textContent = "OK"
  } else {
    var error = res.statusText
    try { error = (await res.json()).error } catch {}
    msg.className = "error"
    msg.textContent = error
  }  
}

const registerTerminology = async () => await request("./terminology/"+trmId[1].value, "PUT", "msg1")
const deleteTerminology = async () => await request("./terminology/"+trmId[1].value, "DELETE", "msg1a")

const receiveTerminology = async () => await request("./terminology/"+trmId[2].value+"/receive?from="+getValue("terminologyFrom"), "POST", "msg2")
const loadTerminology = async () => await request("./terminology/"+trmId[4].value+"/load", "POST", "msg3")

const receiveCollection = async () => await request("./collection/"+trmId[2].value+"/receive?from="+getValue("collectionFrom"), "POST", "msg5")
const loadCollection = async () => await request("./collection/"+trmId[4].value+"/load", "POST", "msg3")

window.onload = () => {

  trmId = [0,1,2,3,4,5].map(i => $("trm"+i))
  colId = [0,1,2,3,4,5,6,7,8].map(i => $("col"+i))

  const sync = (value, elems) => {
    for (let e of elems) e.value = value
    return true
  }

  trmId.forEach(elem => elem.addEventListener("input", e => sync(e.target.value, trmId)))
  colId.forEach(elem => elem.addEventListener("input", e => sync(e.target.value, colId)))

}</script>
