name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install packages
        run: sudo apt-get -y install --no-install-recommends raptor2-utils jq
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - name: Run test
        run: ./test/test.sh
